FINN_HUB_API_KEY=
BASE_FINN_HUB_URL=finnhub.io
PATH_PREFIX_API=/api
PATH_API_VERSION=/v1
PATH_GET_STOCKS_FINN_HUB=/quote
PATH_GET_SYMBOLS_FINN_HUB=/stock/symbol
SOCKET_FINN_LAST_PRICES=ws.finnhub.io
AUTH_ENDPOINT=
AUTH_PROJECT_ID=
AUTH_KEY=
GOOGLE_WEB_CLIENT_ID=

